* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  background-image: url(../img/pattern.png);
  background-color: rgb(106, 163, 254);
  height: 137px;
  background-size: 530px;
}

nav > img {
  width: 240px;
  padding-top: 60px;
  padding-left: 10px;
}
/* style logo */

h1 {
  font-size: 60px;
}

.author {
  color: rgb(139, 136, 136);
  font-size: 30px;
}
.data {
  color: rgb(139, 136, 136);
  font-size: 20px;
}
span {
  color: rgb(102, 184, 255);
}
/* /style titol */

div > p {
  font-size: 15px;
}
/* /header photo */
